jmix-webcomponent/src/main/java/com/company/jmixwebcomponent/app-ui-components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://company.com/schema/app-ui-components"
           targetNamespace="http://company.com/schema/app-ui-components"
           elementFormDefault="qualified"
           xmlns:layout="http://jmix.io/schema/flowui/layout">

    <xs:simpleType name="densityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="compact"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="comfortable"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="reactDataTable">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:baseComponent">

                    <!-- size -->
                    <xs:attributeGroup ref="layout:hasSize"/>

                    <!-- your props -->
                    <xs:attribute name="pageSize" type="xs:integer"/>
                    <xs:attribute name="rowIdKey" type="xs:string"/>
                    <xs:attribute name="editable" type="xs:boolean"/>
                    <xs:attribute name="deletable" type="xs:boolean"/>
                    <xs:attribute name="density" type="densityType"/>
                    <xs:attribute name="emptyText" type="xs:string"/>

                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
